# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary Files
# =========================
*.tmp
*.bak

# =========================
# Environment Files
# =========================
.env
.env.*

# =========================
# Node.js
# =========================
node_modules/

# =========================
# Composer
# =========================
vendor/

# =========================
# Testing Output
# =========================
*.out
*.txt